*pkl
*png
*pdf
*mp4
*gif
*gz
*h5
*sh
*txt
*jpg
*nc
*/__pycache__
*/.ipynb_checkpoints
*/.jupytext.toml
*/.spyproject
IMS/SA*
IMS/SO2
IMS/cmp_flux.rgb
IMS/ims.rgb
IMS/plume.ipynb
IMS/plume.py
IMS/multimkview.ipynb
IMS/multimkview.py
HT-Alien/Zonal.py
HT-Alien/Zonal.ipynb
HT-OMPS/combinat.ipynb
HT-OMPS/combinat.py
HT-GEO/NAsh*
HT-GEO/RGB*
HT-GEO/SAFNWC
HT-GEO/mush*
HT-HT/slurm*
*/old
kollect
OMPS-CD
GPS
HYSPLIT
HT-Veloce
biblio
bak
